body{
    background-color: aliceblue;
}
body a{
    text-decoration: none;
}
.navbar{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.navbar a {
    text-decoration: none;
    color: rgb(34, 96, 230);
}

.loginsignoutlinks{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

.loginsignoutlinks a{
    margin-left: 10px;
}

.vvc{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    color: rgb(41, 127, 240);
    font-size: 200%;
}
.theleft{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: 6.5%;
}
.theleft sup{
    color: rgb(41, 127, 240);
    font-size: large;
}
.theleft2{
    margin-right: 10%;
    margin-left: 20%;
}
.articleee{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
}
.LEFT p{
    color: blue;
    font-size: x-large;
    margin-left: 10%;
}
.ff{
    height: 50%;
    width: 80%;
    display: flex;
    margin-left: 13%;
}
.ppa{
    font-size: larger;
    color: rgb(22, 21, 124);
    margin-left: 15%;
}
.xx{
    display: flex;
    font-size: larger;
    margin-left: 20%;
    margin-bottom: 3%;
    
}
.btn-blww{
    background-color: #095ece;
    color: white;
    padding: 1% 2%;
    border: none;
    cursor: pointer;
    padding-right: 5%;
}
.btn-blww:hover{
  scale: 1.1;
}

.btn-blw{
  background-color: #095ece;
  padding: 1% 2%;
  color: white;
  cursor: pointer;
  border: none;
  padding-right: 5%;
}
.btn-blw:hover{
  scale: 1.1;
}
.Browseourtech{
    text-align: center;
    color: rgb(22, 21, 124);
    margin-top: 15%;
    font-size: xx-large;
}
.fromourflagship{
    text-align: center;
}
.footerrz{
    background-color: rgb(200, 235, 235);
}
.footerrz th {
    width: 40%; 
    text-align: left;
    height: 60%;
}
.tablee{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
}
.tablee a{
    padding-bottom: 10%s;
}   
.lastt{
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media only screen and (max-width: 375px) {
  .navbar {
    margin-right: 10px; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .c1a, .c11, .c12, .c13 {
    display: block;
    margin: 10px 0;
  }

  .ff {
    right: auto;
    top: auto;
    height: auto;
  }

  .ww, .wwe, .xx, .btn-blww, .btn-blw, .theleft, .kko, .cntlnk1, .cntlnk2, .lastt, .tablee {
    position: static;
    display: block;
    text-align: center;
    margin: 10px auto;
  }

  .tablee {
    width: 90%; 
    left: 5%; 
  }
}
  