body{
    background-color: aliceblue;
}
.namee{
    color: rgb(154, 48, 224);
}
.topp{
    position: relative;
    text-align: left;
    left: 25rem;
    top: 5rem;
}
.Picture{
    position:absolute;
    top: 10rem;
    right: 39rem;
    height: 135px;
    width: 135px;
    border-radius: 100px;
}
.hlgthr{
    position: absolute;
    left: 25.4rem;
    color: rgb(11, 108, 219);
}
.xprnc{
    position: absolute;
    top: 27rem;
    left: 25.4rem;
}
.smallslash{
    color: red;
    font-size: large;
}
.educ{
    position: absolute;
    top: 42rem;
    left: 25.4rem;
}
.proj{
    position: absolute;
    top: 62rem;
    left: 25.4rem;
}
.skills{
    position: absolute;
    top: 27rem;
    right: 33rem;
}
.skills li{
    color: rgb(221, 98, 16);
}
.rightt{
    position: absolute;
    right: 41rem;
    color: rgb(11, 108, 219);
}
.ww{
    position: absolute;
    right: 39rem;
    color: rgb(11, 108, 219);
}
.lang{
    position: absolute;
    top: 45rem;
    right: 43.5rem;
}
.lang li{
    color: rgb(221, 98, 16);
}
.bglttrs{
    color: rgb(248, 97, 142);
}
.subs{
    color: rgb(41, 27, 238);
}
.projlink-p{
    position: absolute;
    right: 38rem;
    color: rgb(11, 108, 219);
    top: 54rem;
}
.proj-links{
    position: absolute;
    top: 56rem;
    right: 25rem;
}
.proj-links li {
    text-decoration: none;
    color: rgb(221, 98, 16);
}
.proj-links li a{
    text-decoration: none;
    color: rgb(221, 98, 16);
}
.lastw{
    position: absolute;
    top: 65rem;
    right: 39rem;
    color: rgb(11, 108,  219);
}
.social-links{
    position: absolute;
    top: 68rem;
    right: 41rem;
}
.social-links li {
    text-decoration: none;
    color: rgb(221, 98, 16);
}
.social-links li a{
    text-decoration: none;
    color: rgb(221, 98, 16);
}