body{
    color: rgb(34, 96, 230);
    background-color: aliceblue;
}
body a{
    text-decoration: none;
}
.picname{
    padding-top: 5%;
    display: flex;
}
.namee{
    display: flex;
    padding-left: 7%;
    font-size: 300%;
    color: rgb(154, 48, 224);
}
.Picture{
    display: flex;
    width: 10%;
    height:fit-content;
    border-radius: 80%;
    margin-left: 30%;
}
.topp{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}
.expskll{
    display: flex;
    margin-top: 5%;
}
.EXPERIENCE{
    margin-left: 15%;
}
.SKILLS{
    margin-left: 45%;
}
.xprnc{
    display: flex;
}
.exp{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}
.skills{
    display: flex;
    flex-direction: column;
    padding-left: 27%;
}
.skills li{
    color: rgb(221, 98, 16);
}
.EduLang{
    display: flex;
    margin-top: 5%;
}
.EDUCATION{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
.LANGUAGES{
    display: flex;
    flex-direction: column;
    padding-left: 49%;
}
.langued{
    display: flex;
    padding-top: 1%;
}
.educ{
    display: flex;
    margin-left: 5%;
    flex-direction: column;
}
.lang{
    display: flex;
    margin-left: 22.5%;
}
.langedu{
    display: flex;
    margin-top: 1%;
}
.lang{
    display: flex;
    flex-direction: column;
}
.mains{
    display: flex;
    margin-top: 5%;
}
.PROJECTS{
    display: flex;
    margin-left: 10%;
}
.projlink-p{
    display: flex;
    margin-left: 54.5%;
    color: rgb(11, 108, 219);
}
.projects1{
    display: flex;
    margin-top: 3%s;
}
.proj{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.proj-links{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.proj-links li a{
    color: rgb(221, 98, 16);
}
.lastw{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 15%;
    margin-top: 15%;
    color: rgb(11, 108, 219);
}
.smallslash{
    color: red;
    font-size: large;
}
.bglttrs{
    color: rgb(248, 97, 142);
}
.subs{
    color: rgb(41, 27, 238);
}